@font-face {
    font-family: 'CustomFont';
    src: url('/public/assets/fonts/LeagueGothic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CustomFont2';
    src: url('/public/assets/fonts/LeagueSpartan-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'CustomFont3';
    src: url('/public/assets/fonts/LeagueGothic-Regular.ttf') format('truetype');
}

* {
    overflow-x: hidden;
    /* color: #03ffa1; */
}

body {
    margin: 0;

    padding: 0;
    font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
    width: 0px;

    /* Set the width of the scrollbar */
}


/* navbar start */
.navbar {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    width: 90%;
    transition: background-color 0.3s;
    z-index: 2;
    margin: 0;
}

.navbar.sticky {
    background-color: #333;
}

.navbar .logo {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}



.navbar ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul.menu li {
    margin: 0 10px;
}

.navbar ul.menu li a {
    color: #cdcdcd;
    text-decoration: none;
    transition: color 0.3s;
    letter-spacing: 1px;
    font-size: 14PX;
    font-family: 'CustomFont2', sans-serif !important;
    font-weight: 600;
}

.navbar ul.menu li a:hover {
    color: #b42100;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #000000;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #b42100;
    width: 90%;
    animation-name: fade;
    animation-duration: 0.8s;
    color: #333;
    height: 70vh;
    border-radius: 10px;
    transform: scale(0.7);
    opacity: 0;
    transition: transform 1.8s ease-in-out, opacity 0.3s ease-in-out;
}

.modal.active {
    display: block;
}

.modal.active .modal-content {
    transform: scale(1);
    opacity: 1;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 7;
    }
}


#openModal {
    background-color: #b4210000;
    border: none;
    cursor: pointer;
}

.container-list {
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}

.container-list ul {
    padding: 0;
}

.container-list h1 {
    /* color: rgb(207, 206, 206); */
    color: #b42100;
    font-family: 'CustomFont2', sans-serif !important;
    text-align: left;
}

.container-list li {
    margin-top: 15px;


}

.container-list a {
    color: rgb(172, 171, 171);
    font-family: 'CustomFont2', sans-serif !important;
    text-decoration: none;

}

/* end */

/* about-sec */
.about-sec {
    background-color: black;
    background-image: linear-gradient(to right, #b421000b, #00000061, #ff880000);
    margin: 0;
    padding-bottom: 100px;
    padding-top: 100px;
}

.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-main {
    justify-content: center;
    text-align: center;
    color: aliceblue;
    padding: 20px 0px 30px 0px;
}

.about-font {
    font-size: 6rem;
    font-family: 'CustomFont', sans-serif !important;
    letter-spacing: 8px;
    font-weight: 700;
    color: #F4E9CD;
}

.about-main p {
    font-family: 'CustomFont2', sans-serif;
    font-size: 20px;
    padding-left: 8rem;
    padding-right: 8rem;
    text-align: justify;
    color: #717171;

}

/* logooo */
.outer-div {
    width: 100%;
    padding: 20px;

}

.inner-div {
    display: flex;
    justify-content: center;
}

.inner-div a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19191972;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 100px;
    transition: transform 0.5s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.logosp {

    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  
}


.inner-div a:hover {
    transform: scale(1.1);
}

.copyrightl {
    color: #f4e9cdd2;
    font-family: 'CustomFont2', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 100;
}

.copyrightl a {
    text-decoration: none;
    color: red;
    font-weight: 600;
}

/* end */
/*  */
.eventbanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.eventbanner img {
    width: 80%;
    height: auto;
    mix-blend-mode: screen;
}

.image-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow-y: hidden;
}

.image1,
.image2,
.image3 {
    position: absolute;
}

.image1 {
    top: 40px;
    left: 300px;
    height: 180px;
    animation: spin 7s infinite linear;
}

.image2 {
    top: -10px;
    left: 340px;
    height: 500px
}

.image3 {
    bottom: 30px;
    right: 135px;
    height: 300px;
    animation: spin 8s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* For responsiveness */
@media screen and (max-width: 768px) {

    .image-container {
        position: relative;
        width: 100%;
        height: 300px;

    }

    .image1,
    .image2,
    .image3 {
        position: absolute;
    }

    .image1 {
        top: 5px;
        left: 10px;
        height: 100px;
        animation: spin 7s infinite linear;
    }

    .image2 {
        top: 10px;
        left: 70px;
        height: 150px
    }

    .image3 {
        bottom: 35px;
        right: 15px;
        height: 170px;
        animation: spin 8s infinite linear;
    }
}

/*  end*/

.card {
    width: 100%;
    height: auto;
    padding: 20px;
    color: #F4E9CD;
    background: linear-gradient(#000000, #000000e6) padding-box,
        linear-gradient(145deg, transparent 15%, #b42100, #b42100) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    font-family: 'CustomFont2', sans-serif;
}

.card .main-content {
    flex: 1;
}

.card .header span:first-child {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
}

.card .heading {
    font-size: 24px;
    margin: 20px 0 0px;
    font-weight: 600;
}

.card .categories {
    display: flex;
    gap: 8px;
}


.card .footer {
    margin-top: 50px;
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
}

.headingoned,
.headingtwod {
    flex: 1;
    /* This makes both divs take equal width */
}


.container-cardss {
    padding: 0px 120px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Add responsive CSS as needed */
@media screen and (max-width: 768px) {

    /* Your responsive styles go here */
    .about-main p {
        font-family: 'CustomFont2', sans-serif;
        font-size: 20px;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: justify;
        color: #717171;
    }

    .container-cardss {
        padding: 0px 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 85%;
        height: auto;
        padding: 20px;
        color: #F4E9CD;
        background: linear-gradient(#000000, #000000e6) padding-box, linear-gradient(145deg, transparent 15%, #b42100, #b42100) border-box;
        border: 2px solid transparent;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transform-origin: right bottom;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        font-family: 'CustomFont2', sans-serif;
    }

    .card .heading {
        font-size: 12px;
        margin: 10px 0 0px;
        font-weight: 600;
    }



    .namrediv img {
        height: 80px;
    }

    .right-div {
        flex: 1;
        padding: 20px;
        background-image: url(/public/assets/images/map5.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-right: 2px solid #b42100;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        margin-top: 20px;
    }

    /* modal */
    .container-list {
        display: flex;
        justify-content: space-evenly;
        margin-right: 0px;
        margin-top: 60px;
    }

    .container-list h1 {
        /* color: rgb(207, 206, 206); */
        color: #b42100;
        font-family: 'CustomFont2', sans-serif !important;
        text-align: left;
        font-size: 10px;
    }

    .container-list li {
        margin-top: 5px;
    }

    .container-list a {
        color: rgb(172, 171, 171);
        font-family: 'CustomFont2', sans-serif !important;
        text-decoration: none;
        font-size: 10px;
    }
}



/*  */






footer {
    background-color: black;
    background-image: linear-gradient(to right, #b421000b, #00000061, #ff880000);
    padding: 20px;
    text-align: center;
}

/* CSS for the contact form */
.contact-form form {
    max-width: 400px;
    overflow-x: initial;
}


.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b42100;
    resize: vertical;
    background-color: #000000;
}

.contact-form button {
    background-color: #4caf4f00;
    color: rgba(255, 255, 255, 0.57);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border: 1px solid #b42100;

}

.contact-form button:hover {
    background-color: #b42100;

}

.main-smediv {
    display: flex;
    /* background-color: #b42100; */
}

.namrediv {
    flex: 50%;
}

.formdiv {
    flex: 50%;
}

.formdiv input,
textarea {
    border-radius: 5px;
}


.formdiv h3 {
    color: rgb(171, 171, 171);
    font-family: 'CustomFont', sans-serif !important;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #b71c1c;
    text-decoration: none;
    font-size: 24px;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #b42100;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    z-index: 9999;
    cursor: pointer;
}

.back-to-top i {
    font-size: 20px;
}

/* mediaqueries */
/* Media query for screens with a maximum width of 768px (tablets and smaller) */
@media (max-width: 768px) {}

/* Media query for screens with a maximum width of 480px (mobile devices) */
@media (max-width: 480px) {

    body {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .modal-content {
        background-color: #000000;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #b42100;
        width: 83%;
        animation-name: fade;
        animation-duration: 0.8s;
        color: #333;
        height: 70vh;
        border-radius: 10px;
        transform: scale(0.7);
        opacity: 0;
        transition: transform 1.8s ease-in-out, opacity 0.3s ease-in-out;
    }

    .navbar {
        /* background-color: red; */
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        transition: background-color 0.3s;
        z-index: 2;
        height: 85px;
        overflow-y: hidden;
    }

    .navbar ul.menu {

        display: none;
    }

    .about-font {
        font-size: 3rem;
        font-family: 'CustomFont', sans-serif !important;
        letter-spacing: 8px;
        font-weight: 700;
        color: rgb(188, 188, 188);
    }

    /*  */




    /*  */



    .contact-form input[type="text"],
    .contact-form textarea {
        width: 70%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #b42100;
        resize: vertical;
        background-color: #000000;
    }

    .back-to-top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 50px;
        width: 40px;
        height: 40px;
        background-color: #333;
        color: #b42100;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        z-index: 9999;
        cursor: pointer;
    }
 .inner-div {
        display: contents;
        justify-content: center;
    }

}
